<!DOCTYPE html>

<html>
    <head>
        <title>Invoice PDF</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all"  href="css/pdf/invoice.css" />

    </head>

    <body>
    <div style="width: 100%; height: 10%;" id="header">
        <div style="float: left; width:50%; height:100%;">
            <img style="width:50%; height:60%; margin-left:0;margin-right:0;" src="images/logo.jpg" />
        </div>
        <div style="float: right; width: 50%; height:100%;">
            <ul style="list-style-type: none; margin-top:20%; right:0;">
                <li>[[${data.getAmountContactName()}]]</li>
                <li>Straatnaam + huisnummer</li>
                <li>postcode+ stad</li>
                <li><b>Datum:</b>[[${data.getCurrentDate()}]]</li>
                <li><b>Factuur Nr.</b> 1</li>
            </ul>
        </div>
        <div id="content">
            <div id="content-header" style="width:100%;">
                <h2 style="width:100%; text-align: center; margin-top:10%;">Factuur</h2>
            </div>
                <table align="center"; border="1">
                    <tr>
                        <th>Afleverdatum</th>
                        <th>Omschrijving</th>
                        <th>Uren gewerkt</th>
                        <th>Bedrag</th>
                    </tr>
                    <tr>
                        <td>1/11/2018</td>
                        <td>Infographic</td>
                        <td>[[${data.getAmountHours()}]]</td>
                        <td>[[${data.getAmountPrice()}]]</td>
                    </tr>
                </table>
            </div>


        <!--<table>-->
            <!--<tr>-->
                <!--<th>&emsp;&emsp;&emsp;&emsp;&emsp;</th>-->
                <!--<th>bfu3f</th>-->
                <!--<th>[[${data.getName()}]]</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>-->
                    <!--<table border="1">-->
                        <!--<tr>-->
                            <!--<th>&emsp;Afleverdatum&emsp;</th>-->
                            <!--<th>&emsp;Omschrijving&emsp;</th>-->
                            <!--<th>&emsp;Bedrag in euro&emsp;</th>-->
                            <!--<th> Uren gewerkt</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>01/11/2018</td>-->
                            <!--<td>Infographic</td>-->
                            <!--<td>[[${data.getAmountPrice()}]]</td>-->
                            <!--<td> [[${data.getAmountHours()}]]</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <!--</th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</table>-->


    </div>


    </body>

</html>