
Button,
.button,
.pagination_btn {
    -fx-background-color: linear-gradient(#fefefe, #f1f1f1);
    -fx-cursor: hand;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-padding: 3 5 3 5;

    -fx-text-fill: #4d4d4d;
    -fx-fill: #4d4d4d;

    -fx-background-radius: 5, 4, 5, 4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 1, 0, 0, 0);

}

Button FontAwesomeIconView{
    -fx-text-fill: #4d4d4d;
    -fx-fill: #4d4d4d;
}

Button:hover,
.button:hover,
.pagination_btn:hover {
    -fx-background-color: linear-gradient(#f2f2f2, #f1f1f1);;
}



