
Button {
    -fx-background-color: linear-gradient(#fefefe, #f1f1f1);
    -fx-cursor: hand;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-padding: 3 5 3 5;

    -fx-font-size: 12px;

    -fx-text-fill: #818080;
    -fx-fill: #818080;

    -fx-background-radius: 5, 4, 5, 4;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 1, 0, 0, 0);
}

Button FontAwesomeIconView {
    -fx-text-fill: #818080;
    -fx-fill: #818080;

    -glyph-size: 20px;
}

Button:hover {
    -fx-background-color: linear-gradient(#f2f2f2, #f1f1f1);;
}
